@import 'custom';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer.footer {
  padding: 15px;
}

body {
  font-family: "Hind Madurai", serif;
}

.navbar-brand, .nav-link, .navbar, .h3{
  font-family: "Hind Madurai", serif;
  color: white;
}

p{
  font-family: "Hind Madurai", serif;
  font-size: 18px;
}

.nav-link.active {
  font-family: "Hind Madurai", serif;
  color: #B6AC97 !important;
}

.nav-link, .nav-link.active{
  margin: 0 40px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Photos/TableBois.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }
    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify{
  text-align: justify;
}

.image-card{
  position: relative;
  &:hover{
    .titre-image,
    .action-image-buttons{
      opacity: 1;
    }
    img{
      filter: brightness(0.3);
    }
  }

  img{
    transition: all 0.5s;

  }

  .titre-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
  }
  .action-image-buttons{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s;
  }
}

.form-label{
  color: $primary;
}

.allReservations{
  a{
    display: block;
    color: $black;
    padding: 10px;
  }
}