@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

body {
  font-family: "Hind Madurai", serif;
}

.navbar-brand, .nav-link, .navbar {
  font-family: "Hind Madurai", serif;
  color: #B6AC97;
}

.nav-link.active {
  font-family: "Hind Madurai", serif;
  color: #906427 !important;
}